version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    reviewers:
      - "vujita"
    groups:
      trpc:
        patterns:
          - "@trpc/*"
          - "@tanstack/react-query*"
          - "@tanstack/query*"
    ignore:
      - dependency-name: "eslint*"
        # Ignore eslint v9+ until project is ready to migrate
        versions: [">=9.0.0"]
