version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    reviewers:
      - "vujita"
    groups:
      trpc:
        patterns:
          - "@trpc/*"
          - "@tanstack/react-query*"
          - "@tanstack/query*"
