version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    reviewers:
      - "vujita"
    groups:
      trpc:
        patterns:
          - "@trpc/*"
          - "@tanstack/react-query*"
          - "@tanstack/query*"
    ignore:
      - dependency-name: "eslint:*"
        # Ignore versions of Lodash that are equal to or greater than 1.0.0
        versions: [">=9.0.0"]
