name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.pull_request.head.sha || github.sha }}
  cancel-in-progress: true

# You can leverage Vercel Remote Caching with Turbo to speed up your builds
# @link https://turborepo.org/docs/core-concepts/remote-caching#remote-caching-on-vercel-builds
env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  DATABASE_URL: ${{ secrets.DATABASE_PREVIEW_URL }}
  CI: true
  SKIP_ENV_VALIDATION: 1

jobs:
  build-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install deps (with cache)
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Build
        run: pnpm turbo run build

      - name: Lint
        run: pnpm turbo run lint

      - name: Type-check
        run: pnpm turbo run type-check

      - name: Test
        run: pnpm turbo run test

      - name: Check workspaces
        run: pnpm manypkg check
      - name: Check prettier
        run: pnpm run check
