name: db migrate
on:
  push:
    branches: [main]

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  DATABASE_URL: ${{ secrets.DATABASE_PROD_URL }}
  SKIP_ENV_VALIDATION: 1

jobs:
  db-migration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Cache turbo build setup
        uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # v3
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-db-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-db-

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install deps (with cache)
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Create env file
        run: |
          touch .env
          echo DATABASE_URL=${DATABASE_URL} >> .env

      - name: Run db migration
        run: pnpm turbo run db:migrate
