name: Playwright Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.pull_request.head.sha || github.sha }}
  cancel-in-progress: true

jobs:
  test-e2e:
    permissions:
      contents: read
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      DATABASE_URL: ${{ secrets.DATABASE_PREVIEW_URL }}
      NEXTAUTH_URL: http://localhost:3000
      NEXTAUTH_SECRET: supersecret
      DISCORD_CLIENT_ID: STUBBED_ID
      DISCORD_CLIENT_SECRET: STUBBED_SECRET
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install deps (with cache)
        run: pnpm install --frozen-lockfile

      - uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # v3
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}
      - run: pnpm exec playwright install --with-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - run: pnpm exec playwright install-deps
        if: steps.playwright-cache.outputs.cache-hit == 'true'

      - name: Create env file
        run: |
          touch .env
          echo DATABASE_URL=${DATABASE_URL} >> .env

      - name: turbo build
        run: pnpm turbo run build

      - name: Run Playwright tests
        run: pnpm turbo run e2e

      - uses: daun/playwright-report-summary@be9e270edd5ad86038604d3caa84a819a6ff6fed # v3
        if: always()
        with:
          report-file: apps/vubnguyen/playwright-report/playwright-results.json
          job-summary: true

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        name: Upload Playwright report(vubnguyen)
        if: always()
        with:
          name: playwright-report
          path: apps/vubnguyen/playwright-report/
          retention-days: 30
